body{
	text-align: justify;
	background-color: MediumSeaGreen;  /* Set Backgroumd Color */
	font-family: sans-serif;
}
li {
  float: left;
}
ul {
 list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li a {
  padding: 5px;
  background-color: #dddddd;
}
mark{
	background: dodgerblue;
}
img{
	width: 300px;
	height:200px;
}
article {
	display: flex;
	justify-content: center;
	align-items: center;
}
video{
	width: 1080px;
	height: 720px;
}